/* .thumbnail img{ */
/*     width: 400px; */
/*     height: 200px; */
/* } */

.thumbnail{
    height: 350px;
    margin-bottom : 0px;
    margin-top: 5px;
}

.thumbnail img{
	height: 120px;
	padding: 10px 10px 10px 10px;
}

/* .thumbnail h3{ */
/* 	height: 50px; */
/* } */



.row-button {
	margin: 5px 0px 0px 0px;
}